{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "debug": true,
        "targets": {
          "browsers": [
            "> 0.05%",
            "not dead",
            "not ie <= 11",
            "not android <= 4.4.3",
            "not chrome <= 52",
            "not ios <= 9.3",
            "not safari <= 9.1"
          ]
        }
      }
    ],
    "react",
    "flow"
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "babel-plugin-styled-components",
      {
        "minify": false,
        "uglifyPure": false
      }
    ]
  ]
}
