{
  "presets": [["env", { "modules": false }], "react", "flow"],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread" // used in build, probably want to disable in components soon
  ]
}
