@font-face {
  font-family: "Charlie_Display_Regular";
  src: url("/public/font/Charlie_Display-Regular.woff") format("woff"),
    url("/public/font/Charlie_Display-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Charlie_Display_Semibold";
  src: url("/public/font/Charlie_Display-Semibold.woff") format("woff"),
    url("/public/font/Charlie_Display-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
