<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name=”description” content="Atlaskit is Atlassian's official component library and is based on our Design Guidelines." />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Polyfills -->
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=es6,Array.prototype.includes,fetch"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
